@charset "UTF-8";
pre {
    margin: 16px;
    padding: 16px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.menu > li > a {
    // width: 100%;
}

.nav {
    display: flex;
    position: relative;
    // width: 100%;
    background: rgba(0, 0, 0, .8);
    padding-left: 32px;
    z-index: 1;
}

.login-info {
    align-self: center;
    flex: 1;
    text-align: right;
    padding-right: 16px;
    color: #fff;
}

#slidebar_out {
    background-color: #fff;
    font-size: 28px;
    border-radius: 2px;
    color: #34495e;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.slidebar {
    display: none;
    background-color: rgba(0, 0, 0, .8);
}

.slidebar-tool {
    color: #fff !important;
}

.slidebar > .slidebar-tool:hover {
    color: #fff !important;
}

.slidebar-menu >li > a {
    color: #fff;
}

.slidebar-login-box {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.slidebar-login-box>.login-info {
    text-align: right;
}

.slidebar-login-box>.login-info>span {
    display: inline-block;
    margin: 8px;
}

@media screen and (max-width:767px) {
    .nav {
        display: none;
    }
    .slidebar {
        display: block;
    }
    #demo-canvas {
        display: none;
    }
}

.nav>li>ul {
    top: 48px;
}

#card {
    color: inherit;
}

.t3d-container {
    height: 150px;
    margin-left: 16px;
}

.about-box {
    margin: 0 16px 0 16px;
}

.toastlists-normalize-box {
    z-index: 10;
}

.editor-box {
    display: flex;
    align-items: stretch;
    position: absolute;
    width: 100%;
    height: 100%;
}

.editor-tool {
    position: fixed;
    bottom: 6px;
    right: 6px;
}

.editor-input {
    width: 50%;
    flex-grow: 1;
}

.editor-output {
    width: 50%;
    flex-grow: 1;
    padding: 8px;
}

.markdown-shower-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-detail-box {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

@media (max-width: 768px) {
    .article-detail-box {
        flex-direction: column;
    }
}

.article-handle {}

.progress-loading {
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, .9);
}

.progress-loading::-moz-progress-bar {
    background: rgba(0, 0, 0, .9);
}

.progress-loading::-webkit-progress-bar {
    background: rgba(0, 0, 0, .9);
    ;
}

.progress-loading::-webkit-progress-value {
    background: #3498db;
}

.search-btn {
    position: absolute;
    right: 2px;
    top: 2px;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 48px;
    background: url('../static/images/temp_06.jpg') no-repeat center;
    background-size: cover;
}

.register-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.register-item {
    position: relative;
    // z-index: 1;
    background: rgba(255, 255, 255, .9);
}
