body {
    // margin:0;
    // color:#6a6f8c;
    // background:#c8c8c8;
    font: 200 16px/18px 'Open Sans', sans-serif;
}

*,
:after,
:before {
    box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none;
}

input,
button {
    outline: none;
    // border: none;
}


/*------------------------------------------------------------------scorllbar----------------*/

.login-wrap::-webkit-scrollbar {
    /*必须要定义否则无样式*/
    width: 7px;
    height: 0px;
}

.login-wrap::-webkit-scrollbar-button {
    /*上下小箭头*/
    display: none;
}

.login-wrap::-webkit-scrollbar-track {
    /*导轨样式*/
    background: rgba(251, 251, 251, 0);
}

body::-webkit-scrollbar-track-piece {
    /*导轨空白部分样式*/
    background: rgba(251, 251, 251, 0);
}

body::-webkit-scrollbar-thumb {
    /*可拖动部分*/
    // background: rgba(241, 103, 103, 0.9);
    background: #cdcdcd;
    border-radius: 4px;
}

body::-webkit-scrollbar-corner {
    /*边角*/
}

body::-webkit-scrollbar-resizer {
    /*右下角拖动快样式*/
}

.cover-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.filler {
    position: relative;
    z-index: -1;
    width: 100%;
    min-height: 1000px;
}

.login-wrap {
    position: relative;
    top: 72px;
    width: 100%;
    margin: auto;
    max-width: 525px;
    /*min-height:670px;*/
    min-height: 700px;
    color: #aaa;
    // color: #6a6f8c;
    // background: url(../static/images/temp_06.jpg) no-repeat center;
    // -webkit-background-size: cover;
    // background-size: cover;
    // box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    // background: rgba(40, 57, 101, .5);
    // overflow: auto;
}

.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    // padding: 16px 0px 96px 0px;
    // padding: 90px 70px 50px 70px;
    // background: rgba(40, 57, 101, .9);
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
    display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
    text-transform: uppercase;
}

.login-html .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
    color: #fff;
    border-color: #1161ee;
}

.login-form {
    min-height: 345px;
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.login-form .group {
    margin-bottom: 15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
    width: 100%;
    color: #fff;
    display: block;
}

.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
}

.login-form .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle;
}

.login-form .group .label {
    color: #aaa;
    font-size: 12px;
}

.login-form .group .button {
    background: #1161ee;
}

.login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    -webkit-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    -webkit-transform: scale(0) rotate(0);
    -ms-transform: scale(0) rotate(0);
    transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
    top: 6px;
    right: 0;
    -webkit-transform: scale(0) rotate(0);
    -ms-transform: scale(0) rotate(0);
    transform: scale(0) rotate(0);
}

.login-form .group .check:checked + label {
    color: #fff;
}

.login-form .group .check:checked + label .icon {
    background: #1161ee;
}

.login-form .group .check:checked + label .icon:before {
    -webkit-transform: scale(1) rotate(45deg);
    -ms-transform: scale(1) rotate(45deg);
    transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked + label .icon:after {
    -webkit-transform: scale(1) rotate(-45deg);
    -ms-transform: scale(1) rotate(-45deg);
    transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2);
}

.foot-lnk {
    text-align: center;
}

//-----------------------------------------------
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.example-appear {
  opacity: 0.01;
  position: relative;
  top: 50px;
  // left: 50px;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: all .3s ease-in;
  top: 0;
  left: 0;
}

.markFadeIn-appear {
  opacity: 0.01;
}

.markFadeIn-appear.markFadeIn-appear-active {
  opacity: 1;
  transition: all .3s ease-in;
}

.icon-box {
        text-align: center;
    }
    
    .yu-icon>img {
        margin-top: 24px;
        width: 200px;
    }
    
    .loading>img {
        margin-top: 56px;
    }
    
    .spinner {
        width: 72px;
        height: 72px;
        position: relative;
        margin: 100px auto;
    }
    
    .double-bounce1,
    .double-bounce2 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #67CF22;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-animation: bounce 2.0s infinite ease-in-out;
        animation: bounce 2.0s infinite ease-in-out;
    }
    
    .double-bounce2 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }
    
    @-webkit-keyframes bounce {
        0%,
        100% {
            -webkit-transform: scale(0.0)
        }
        50% {
            -webkit-transform: scale(1.0)
        }
    }
    
    @keyframes bounce {
        0%,
        100% {
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
        }
        50% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
    }

.add-user{
    position: absolute;
    top: 0;
    right: 0;
}


